# Learning Data analysis with R

Made by Yizhou

References:

1.Cheatsheet for dplyr and tidyr:https://www.rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf

2.Introduction to dyplr: https://cran.rstudio.com/web/packages/dplyr/vignettes/introduction.html

# 1. dplyr

In [1]:
library(dplyr)
library(tidyr)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'tidyr' was built under R version 3.3.2"

In [2]:
# a quick example
iris %>% group_by(Species) %>% summarise(avg = mean(Sepal.Width)) %>% arrange(desc(avg))

     Species   avg
1     setosa 3.428
2  virginica 2.974
3 versicolor 2.770

In [3]:
# Implement iris as an example
head(iris,5)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa

In [4]:
# Group_by funciton group_by(data, variable)
group_by(iris,Species) %>% head(5)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa

In [5]:
# Summarise function summarise(data, function), apply the function to data to get a new column
summarise(iris, mean = mean(Sepal.Length, na.rm = T))

# summarise function is usually together with group_by function
group_by(iris, Species) %>% summarise(number = n()) # n() for counting numbers

      mean
1 5.843333

     Species number
1     setosa     50
2 versicolor     50
3  virginica     50

## 1.1 view data

In [6]:
#dplyr::tbl_df(iris) Converts data to tbl class. tbl’s are easier to examine than
#data frames. R displays only the data that fits onscreen:
head(tbl_df(sleep),5)

#glimpse for dataframe
glimpse(airquality)

#View
#View(BOD)

  extra group ID
1   0.7     1  1
2  -1.6     1  2
3  -0.2     1  3
4  -1.2     1  4
5  -0.1     1  5

Observations: 153
Variables: 6
$ Ozone   (int) 41, 36, 12, 18, NA, 28, 23, 19, 8, NA, 7, 16, 11, 14, 18, 1...
$ Solar.R (int) 190, 118, 149, 313, NA, NA, 299, 99, 19, 194, NA, 256, 290,...
$ Wind    (dbl) 7.4, 8.0, 12.6, 11.5, 14.3, 14.9, 8.6, 13.8, 20.1, 8.6, 6.9...
$ Temp    (int) 67, 72, 74, 62, 56, 66, 65, 59, 61, 69, 74, 69, 66, 68, 58,...
$ Month   (int) 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,...
$ Day     (int) 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, ...

## 1.2 dplyr::%>%
Passes object on lef hand side as first argument (or .argument) of function on righthand side.

$x  \%>\%  \ f(y)$ is the same as $f(x,y)$

$y \%>\%\ f(x,.,z)$ is equal to $f(x,y,z)$

"Piping" with %>% makes code more readable, e.g.

## 1.3 Reshaping & Arrange

In [7]:
# Gather and spread
stocks <- data.frame(
  time = as.Date('2009-01-01') + 0:9,
  X = rnorm(10, 0, 1),
  Y = rnorm(10, 0, 2),
  Z = rnorm(10, 0, 4)
)
stocksm <- stocks %>% gather(stock, price, -time)
stocksm %>% spread(stock, price) %>% head(5)
stocksm %>% spread(time, price) %>% head(5)

        time           X         Y         Z
1 2009-01-01 -0.04789795 -3.689058  1.045326
2 2009-01-02  0.25540297 -1.448102 -1.626245
3 2009-01-03 -0.47297691 -1.414657 -3.323824
4 2009-01-04  0.69323018  3.294761  6.551871
5 2009-01-05 -0.92420906 -2.565893 -4.417094

  stock  2009-01-01 2009-01-02 2009-01-03 2009-01-04 2009-01-05 2009-01-06
1     X -0.04789795   0.255403 -0.4729769  0.6932302 -0.9242091  0.8557438
2     Y -3.68905837  -1.448102 -1.4146575  3.2947607 -2.5658934 -1.0275393
3     Z  1.04532644  -1.626245 -3.3238242  6.5518708 -4.4170938 -3.4551002
  2009-01-07 2009-01-08 2009-01-09 2009-01-10
1  0.2784067  0.4613716  0.1167484 -1.1811124
2  2.7872416  3.2421383  0.4561050  2.3742618
3  2.3788333 -4.0359144 -5.7478773 -0.7755693

In [8]:
#separate and unite, unite(data, name, c(colums))
niris = tidyr::unite(iris,"Sepal_Length_Width",Sepal.Length,Sepal.Width,sep = ",")
head(niris)

#separate(data, col, into, sep = "[^[:alnum:]]+"
head(tidyr::separate(niris,"Sepal_Length_Width",c("A","B"),sep = ","))

  Sepal_Length_Width Petal.Length Petal.Width Species
1            5.1,3.5          1.4         0.2  setosa
2              4.9,3          1.4         0.2  setosa
3            4.7,3.2          1.3         0.2  setosa
4            4.6,3.1          1.5         0.2  setosa
5              5,3.6          1.4         0.2  setosa
6            5.4,3.9          1.7         0.4  setosa

    A   B Petal.Length Petal.Width Species
1 5.1 3.5          1.4         0.2  setosa
2 4.9   3          1.4         0.2  setosa
3 4.7 3.2          1.3         0.2  setosa
4 4.6 3.1          1.5         0.2  setosa
5   5 3.6          1.4         0.2  setosa
6 5.4 3.9          1.7         0.4  setosa

In [9]:
# arrange according to a certain column
# dplyr::arrange(data, desc(column))
head(arrange(esoph,ncontrols),5)

# dplyr::rename(data,name = newname)

  agegp  alcgp    tobgp ncases ncontrols
1 25-34 80-119    10-19      0         1
2 25-34   120+ 0-9g/day      0         1
3 25-34   120+    10-19      1         1
4 25-34   120+    20-29      0         1
5 35-44 80-119      30+      0         1

## 1.4  Subset and Sampling

In [10]:
#dplyr::slice(data, a:b) to select rows by position.
slice(iris[c(2,3)],8:10)

#dplyr::top_n(data, num, column) Select and order top n entries (by group if grouped data).
top_n(iris,3,Sepal.Width)

  Sepal.Width Petal.Length
1         3.4          1.5
2         2.9          1.4
3         3.1          1.5

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.7         4.4          1.5         0.4  setosa
2          5.2         4.1          1.5         0.1  setosa
3          5.5         4.2          1.4         0.2  setosa

In [11]:
#dplyr::filter to choose the subset by a certain criterion
BOD %>% filter(demand > mean(demand) & demand < 18)

  Time demand
1    4   16.0
2    5   15.6

In [12]:
#dplyr::distinct to subset the distinct values
distinct(iris) %>% head(5)
distinct(Puromycin, state)

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa

  conc rate     state
1 0.02   76   treated
2 0.02   67 untreated

In [13]:
#dplyr::sample_frac(iris, 0.5, replace = TRUE) Randomly select fraction of rows.
sample_frac(quakes,0.3,T) %>% head(5)

#dplyr::sample_n(iris, 10, replace = TRUE) Randomly select n rows. 
sample_n(quakes,5,T)

       lat   long depth mag stations
405 -15.70 184.50   118 4.4       30
141 -12.66 169.46   658 4.6       43
447 -15.72 185.64   138 4.3       21
800 -18.11 181.63   568 4.3       36
818 -16.21 186.52   111 4.8       30

       lat   long depth mag stations
42  -15.31 186.10    96 4.6       32
614 -19.60 181.87   597 4.2       18
236 -23.54 179.93   574 4.0       12
853 -15.18 167.23    71 5.2       59
698 -15.43 185.19   249 4.0       11

In [14]:
#dplyr::select(data,...) to select columns by name or helper function.

#select(iris, contains(".")) # Select columns whose name contains a character string.  
#select(iris, ends_with("Length")) #Select columns whose name ends with a character string. 
#select(iris, everything())
#select(iris, matches(".t."))
#select(iris, num_range("x", 1:5)) #Select columns named x1, x2, x3, x4, x5. 

#select(iris, one_of(c("Species", "Genus")))#Select columns whose names are in a group of names.
#select(iris, starts_with("Sepal")) #Select columns whose name starts with a character string.
#select(iris, Sepal.Length:Petal.Width) #Select all columns between Sepal.Length and Petal.Width (inclusive).
#select(iris, -Species) #Select all columns except Species.

## 1.5 Summarise and Group by

In [15]:
# summarise(data, name = func()) to get the information by a function 
dplyr::summarise(iris, avg = mean(Sepal.Length))

#dplyr::summarise_each(data, function) to apply summary function to each column. 
summarise_each(iris, funs(mean))

       avg
1 5.843333

Warning message in mean.default(structure(c(1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, 1L, :
"argument is not numeric or logical: returning NA"

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1     5.843333    3.057333        3.758    1.199333      NA

In [16]:
# dplyr::count(data,column, weight) to count number of rows with each unique value of
# variable (with or without weights).

count(iris, Species,wt = Sepal.Length)

     Species     n
1     setosa 250.3
2 versicolor 296.8
3  virginica 329.4

### Dplyr Functions:
dyplr::

|name|description|
|---|---|
|first|First value of a vector|
|last|last....|
|nth|nth...|
|n|# of values in a vector|
|n_distinct|# of distinct values in a vector|
|min||
|max||
|mean||
|median||
|var||
|sd||

### Group Data

In [27]:
dplyr::group_by(iris, Species) %>% head(5)#Group data into rows with the same value of Species.
dplyr::ungroup(iris) %>% tail(5) #Remove grouping information from data frame.

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1          5.1         3.5          1.4         0.2  setosa
2          4.9         3.0          1.4         0.2  setosa
3          4.7         3.2          1.3         0.2  setosa
4          4.6         3.1          1.5         0.2  setosa
5          5.0         3.6          1.4         0.2  setosa

    Sepal.Length Sepal.Width Petal.Length Petal.Width   Species
146          6.7         3.0          5.2         2.3 virginica
147          6.3         2.5          5.0         1.9 virginica
148          6.5         3.0          5.2         2.0 virginica
149          6.2         3.4          5.4         2.3 virginica
150          5.9         3.0          5.1         1.8 virginica

In [32]:
#group_by and summarise
iris %>% group_by(Species) %>% summarise(count = n(),mean = mean(Sepal.Length+Sepal.Width))

#group_by and mutate
Puromycin %>% group_by(state) %>% mutate(rand_rate = min_rank(rate)) %>% head(10)

     Species count  mean
1     setosa    50 8.434
2 versicolor    50 8.706
3  virginica    50 9.562

   conc rate   state rand_rate
1  0.02   76 treated         2
2  0.02   47 treated         1
3  0.06   97 treated         3
4  0.06  107 treated         4
5  0.11  123 treated         5
6  0.11  139 treated         6
7  0.22  159 treated         8
8  0.22  152 treated         7
9  0.56  191 treated         9
10 0.56  201 treated        11

## 1.6 Make new variables : mutate

In [17]:
#dplyr::mutate(data,new_column = column1 + column2) to form a new column
mutate(iris, sepal = Sepal.Length + Sepal.Width) %>% head(3)

#mutate_each function to apply the funs to every column
dplyr::mutate_each(iris, funs(min_rank)) %>% head(3) # min_rank Ranks. Ties get min rank. 

#dplyr::transmute(iris, sepal = Sepal.Length + Sepal. Width)
# Compute one or more new columns. Drop original columns.

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species sepal
1          5.1         3.5          1.4         0.2  setosa   8.6
2          4.9         3.0          1.4         0.2  setosa   7.9
3          4.7         3.2          1.3         0.2  setosa   7.9

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1           33         126           12           6       1
2           17          58           12           6       1
3           10          95            5           6       1

### Mutate uses window functions, functions that take a vector of values and return another vector of values, such as:

See **window functions** in the cheatsheet for dplyr and tidyr:https://www.rstudio.com/wp-content/uploads/2015/02/data-wrangling-cheatsheet.pdf

## 1.7 Combine Data Sets

In [18]:
# mutating joins

a = data.frame(x1 = c("A","B","C"),x2 = c(1,2,3))
b = data.frame(x1 = c("A","B","D"),x3 = c(T,F,T))

#dplyr::left_join,right_join,inner_join,full_join
left_join(a, b, by = "x1")

right_join(a,b,by = "x1")

inner_join(a,b,by = "x1")

full_join(a,b,by = "x1")

Warning message in left_join_impl(x, y, by$x, by$y):
"joining factors with different levels, coercing to character vector"

  x1 x2    x3
1  A  1  TRUE
2  B  2 FALSE
3  C  3    NA

Warning message in right_join_impl(x, y, by$x, by$y):
"joining factors with different levels, coercing to character vector"

  x1 x2    x3
1  A  1  TRUE
2  B  2 FALSE
3  D NA  TRUE

Warning message in inner_join_impl(x, y, by$x, by$y):
"joining factors with different levels, coercing to character vector"

  x1 x2    x3
1  A  1  TRUE
2  B  2 FALSE

Warning message in outer_join_impl(x, y, by$x, by$y):
"joining factors with different levels, coercing to character vector"

  x1 x2    x3
1  A  1  TRUE
2  B  2 FALSE
3  C  3    NA
4  D NA  TRUE

In [19]:
# filter joins
dplyr::semi_join(a, b, by = "x1") #All rows in a that have a match in b.

dplyr::anti_join(a, b, by = "x1") #All rows in a that do not have a match in b.

Warning message in semi_join_impl(x, y, by$x, by$y):
"joining factors with different levels, coercing to character vector"

  x1 x2
1  A  1
2  B  2

Warning message in anti_join_impl(x, y, by$x, by$y):
"joining factors with different levels, coercing to character vector"

  x1 x2
1  C  3

In [20]:
# Set Operations
y = data.frame(x1 = 4:6,x2 = 1:3)
z = data.frame(x1 = 5:7,x2 = 2:4)

dplyr::intersect(y, z) # Rows that appear in both y and z
dplyr::union(y, z) #Rows that appear in either or both y and z.
dplyr::setdiff(y, z) #Rows that appear in y but not z.

  x1 x2
1  5  2
2  6  3

  x1 x2
1  4  1
2  5  2
3  6  3
4  7  4

  x1 x2
1  4  1

In [21]:
#binding join
dplyr::bind_rows(y,z) # equal to rbind
dplyr::bind_cols(y,z) # equal to cbind

  x1 x2
1  4  1
2  5  2
3  6  3
4  5  2
5  6  3
6  7  4

  x1 x2 x1 x2
1  4  1  5  2
2  5  2  6  3
3  6  3  7  4